@import url(https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar-tile {
    @apply relative flex items-center justify-center  space-x-3 mx-auto 
    mt-2 mb-2 px-2 text-white hover:font-bold 
    transition-all duration-300  cursor-pointer  ease-in-out before:transition-[width] 
    before:ease-in-out before:duration-700 before:absolute before:bg-cyan-400 before:origin-center 
    before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] 
    after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-cyan-400
    after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%];
  }
  .navbar-tile-active {
    @apply relative flex items-center justify-center  space-x-3 mx-auto 
    mt-2 mb-2 px-2 text-black hover:font-bold 
    transition-all duration-300  cursor-pointer  ease-in-out before:transition-[width] 
    before:ease-in-out before:duration-700 before:absolute before:bg-cyan-400 before:origin-center 
    before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] 
    after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-cyan-400
    after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%];
  }
  .navbar {
    @apply top-10 fixed flex text-white w-screen h-20 align-middle mb-10 md:flex md:justify-between;
  }
  .navbar.active {
    @apply text-black top-0 bg-white shadow-md align-middle;
  }
}
